/* Navigation styles */
nav {
    background-color: #f8f9fa;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

nav li {
    display: inline;
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007bff;
}

nav button {
    border: none;
    padding: 0.5rem 1rem;
    cursor: auto;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    
}