footer {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEDEDE;
}

#footer-container {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer-links {
    display: flex;
    margin-right: 5vw;
    margin-left: auto;
    gap: 1rem;
}
#footer-links a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #1F5297;
}
#footer-copyright {
    margin-left: 5vw;
    margin-right: auto;
    font-size: 1rem;
    color: #1F5297;
}
