header {
    width: 100%;
    height: 8vh;
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fixar o header no topo */
    top: 0; /* Valor inicial de top */
    transition: top 0.3s;
    z-index: 1000; /* Garantir que o header fique acima de outros elementos */
}

.header-hidden {
    top: -8vh; /* Ajustar conforme necessário para ocultar o header */
}

nav {
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #1F5297;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.625rem;
    transition: color 0.3s, font-size 0.3s; /* Adicionando transições suaves para cor e tamanho da fonte */
}

nav a:hover {
    color: #0E3D61; /* Mudança de cor ao passar o mouse */
    font-size: 1.55rem; /* Aumento leve do tamanho da fonte ao passar o mouse */
}