@import url('main.css');
@import url('header.css');
@import url('footer.css');

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../assets/images/background.jpg);
}

body a {
    text-decoration: none;
}