@import url('_about.css');
@import url('_contact.css');
@import url('_education.css');
@import url('_footer.css');
@import url('_header.css');
@import url('_nav.css');
@import url('_profile.css');
@import url('_projects.css');
@import url('_sections.css');
@import url('_skills.css');

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    color: #333;
    text-decoration: none;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../assets/background.jpg');
    background-size: cover;
}

#content-pt {
    display: none;    
}














