@import url('partials/_about.css');
@import url('partials/_contact.css');
@import url('partials/_education.css');
@import url('partials/_footer.css');
@import url('partials/_header.css');
@import url('partials/_nav.css');
@import url('partials/_profile.css');
@import url('partials/_projects.css');
@import url('partials/_sections.css');
@import url('partials/_skills.css');

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}