@import url('partials/sections/_about.css');
@import url('partials/sections/_contact.css');
@import url('partials/sections/_education.css');
@import url('partials/sections/_profile.css');
@import url('partials/sections/_projects.css');
@import url('partials/sections/_skills.css');
@import url('partials/sections/_sections.css');
@import url('partials/sections/_greetings.css');
@import url('body.css');
@import url('header.css');
@import url('footer.css');

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}