@import 'partials/_about.css';
@import 'partials/_contact.css';
@import 'partials/_education.css';
@import 'partials/_footer.css';
@import 'partials/_header.css';
@import 'partials/_nav.css';
@import 'partials/_profile.css';
@import 'partials/_projects.css';
@import 'partials/_section.css';
@import 'partials/_skills.css';

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    color: #333;
    text-decoration: none;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../assets/background.jpg');
    background-size: cover;
}   














