@import url('partials/_about.css');
@import url('partials/_contact.css');
@import url('partials/_education.css');
@import url('partials/_footer.css');
@import url('partials/_header.css');
@import url('partials/_nav.css');
@import url('partials/_profile.css');
@import url('partials/_projects.css');
@import url('partials/_sections.css');
@import url('partials/_skills.css');

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    color: #333;
    text-decoration: none;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../assets/background.jpg');
    background-size: cover;
}

#content-pt {
    display: none;    
}

.edu-skills-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

#education {
    margin-right: 0;
}

#skills {
    margin-left: 0;
}

#education, #skills {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem; /* Ajuste conforme necessário */
}

.education-details-container, .skills-container {
    flex-grow: 1;
}














