#projects .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#projects-display {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    height: 25rem;
    flex-shrink: 0;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color: #dedede1f;
}

.project-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.project-title {
    align-self: flex-start;
    font-size: 2rem;
}

.project-techs {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 0.625rem;
    font-size: 1rem;
}

.tech-container {
    background-color: #DEDEDE1f;
    padding: 0.625rem;
    border-radius: 10px;
}

.tech-container:hover {
    background-color: #DEDEDE3f;
}

.project-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.project-description {
    font-size: 1.1rem;
    font-weight: 400;
}

.project-picture {
    width: 15rem;
    height: 15rem;
    border-radius: 20px;
}
