@import url('./education.css');
@import url('./skills.css');

.separation-bar {
    width: 2px;
    margin: 0 2rem;
    height: 100%;
    background-color: #dedede ;
}

#section-2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-around;
}

#section-2-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40%;
}

#download-cv-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 1rem;
}

#download-cv-container h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

#download-button-container {
    background-color: #DEDEDE1f;
    border: 2px solid #DEDEDE;
    border-radius: 15px;
    padding: 1.625rem;
    font-size: 1.4rem;
    font-weight: bold;
}

#section-2-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
}
