/* About section styles */
.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-content {
    background: rgba(229, 255, 0, 0.5);
    border-radius: 10px;
    background-size: auto;
}