#section-edu-skills {
    display: flex; /* Torna #section-projects um contêiner flexível */
    flex-direction: column; /* Organiza os elementos em coluna */
    padding: 0;
    height: 100vh; /* Ocupa toda a altura da viewport */
}

.titles-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 5vw;
    padding: 2.5vh 0;
    color: #dedede;
    font-size: x-large;
}

.subsection-container {
    gap: 5vw;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.subsection {
    flex: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #DEDEDE2f;
}