#greetings-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#greetings-text-container{
  color: #DEDEDE;
  text-align: left;
  margin-bottom: 6rem;
}

#h1-greetings-container {
  font-size: 4.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

#h2-greetings-container {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
}


#see-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #DEDEDE5f;
  transition: color 0.3s, font-size 0.3s; 
}

#dropo-down-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#see-more-text {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#see-more-container:hover {
  color: #DEDEDE8f;
  font-size: 2rem;
}