#section-greetings {
  margin-top: 10vh;
  background-color: transparent;
}

#greetings-container h1, h2, h4 {
  color: #DEDEDE;
  font-weight: 300;
  text-align: left;
}

#h1-greetings-container {
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

#h2-greetings-container {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#drop-down-arrow {
  font-size: 1.5rem;
  color: #DEDEDE;
  margin-left: 30vw;
  margin-right: 30vw;
  text-align: center;
}

#drop-down-arrow i {
  font-size: 1.5rem;
  color: #DEDEDE;
  margin-left: 50%;
}