/* Profile section styles */
.profile-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-text-container {
    margin-right: auto;
}

.profile-pic-container {
    margin-left: auto;
}

.section-text {
    padding: 1.5rem;
}


#profile-pic img {
    margin: 1rem;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10%;
}