/* Projects section styles */

.projects-details-container {
    display: flex;
    /* Allow items to wrap to the next row if needed */
    justify-content: space-between;
    /* Distribute items evenly along the main axis */
}

.project-item {
    width: auto;
    height: auto;
    margin: 1rem 1rem;
    background: rgba(229, 255, 0, 0.5);
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}