#projects-title-h3 {
    margin-left: 2.5vw;
    font-size: 2.5em;
    margin-bottom: 2.5vh;
    color: #DEDEDE;
}

#project-display {
    width: 70vw;
    height: 60vh;
    margin-left: 10vw;
    margin-bottom: 5vh;
    border-radius: 10px;
    background-color: #DEDEDE;
}

