#section-projects {
    display: flex; /* Torna #section-projects um contêiner flexível */
    flex-direction: column; /* Organiza os elementos em coluna */
    padding: 0;
    height: 100vh; /* Ocupa toda a altura da viewport */
}

#projects-title-h3 {
    font-size: 2.5em;
    color: #DEDEDE;
    margin: 0;
    padding: 20px; /* Adiciona um espaçamento interno */
}

#projects-display {
    flex: 1; /* Faz com que #projects-section-container ocupe o espaço restante */
    border-radius: 10px;
    padding: 20px; /* Adiciona um espaçamento interno */
    background-color: #DEDEDE2f;
}
