header {
    width: 100%;
    padding: 0.625rem 0;
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fixar o header no topo */
    top: 0; /* Valor inicial de top */
    transition: top 0.1s, background-color 0.1s, color 0.1s; /* Adicionando transições suaves para top e cor de fundo */
    z-index: 1000; /* Garantir que o header fique acima de outros elementos */
}

nav {
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #1F5297;
    font-weight: bold;
    font-size: 1.22rem;
    padding: 0.625rem;
    transition: color 0.1s, font-size 0.1s; /* Adicionando transições suaves para cor e tamanho da fonte */
}

nav a:hover {
    color: #0E3D61; /* Mudança de cor ao passar o mouse */
    font-size: 2rem; /* Aumento leve do tamanho da fonte ao passar o mouse */
}

.transparent-header {
    background-color: transparent;
}

.transparent-header nav a {
    color: #DEDEDE;
}

.transparent-header nav a:hover {
    color: #f1f1f1;
    font-size: 2rem;
}