@import url('./partials/scrollbar.css');
@import url('partials/background.css');

:root {
    --main-blue: #1F5297:
    --aux-blue: #0E3D61;
    --main-white: #DEDEDE;
    --aux-white: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #DEDEDE;
}

a {
    text-decoration: none;
    color: inherit;
}