@import url('partials/_about.css');
@import url('partials/_contact.css');
@import url('partials/_education-and-skills.css');
@import url('partials/_projects.css');
@import url('partials/_greetings.css');

main {
    width: 100%;
    margin: 0;
    align-items: center;
    padding: 10vh 10vw;
    background-image: url(../assets/images/background-full2.png);
}

section {
    width: 100%;
    height: 80vh;
    padding: 5vh;
    margin-bottom: 10vh;
    border-radius: 10px;
}