#gretting {
    gap: 2rem;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

#gretting-text {
    text-align: left;
}

#gretting-text h1 {
    color: #DEDEDE;
    font-family: Montserrat;
    font-size: 6rem;
    font-style: bold;
    font-weight: 900;
    line-height: 100%; /* 10rem */
}

#gretting-text h2 {
    color: #DEDEDE;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
}