#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#projects h2 {
    color: #DEDEDE;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

#projects-display {
    width: 100%;
    height: 25rem;
    padding: 2rem;
    flex-shrink: 0;
}

.project-container {
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dedede1f;
}

.project-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-title {
    align-self: flex-start;
    font-size: 3.2rem;
}

.project-techs {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 0.625rem;
    font-size: 1.25rem;
}

.tech-container {
    background-color: #DEDEDE1f;
    padding: 0.625rem;
    border: 3px solid #DEDEDE;
    border-radius: 10px;
}

.project-bottom {
    width: 100%;
    gap: 2rem;
    display: flex;
    align-items: center;
}

.project-description {
    font-size: 1.6rem;
}

.project-picture {
    width: 15rem;
    height: 15rem;
    border-radius: 20px;
}
