#skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#skills h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: right;
}

#skill-cards-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr; /* Três colunas iguais */
    grid-template-rows: auto; /* Altura automática das linhas */
    justify-content: center;
    margin: auto 0;
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 13vh;
    padding: 1.5rem;
    border-radius: 15px;
    background-color: #dedede1f;
}